.card {
  display: grid;
  background: rgb(20, 35, 100);
  border-radius: 1rem;
  padding: 1rem;
  grid-template-rows: 1fr 2rem;
  justify-items: center;
  align-items: center;
}

.portrait {
  width: 100%;
  height: auto;
  object-fit: contain;
  
}

.pokename {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 0;
}